.loggers_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.config_display {
    margin-bottom: 30px;
}

.logger {
    flex: 1;
    border: solid #417690 1px;
    border-radius: 10px;
    margin: 5px;
    padding:3px;
}


#current_config, #next_config {
    border: none;
}